.footer-info {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 3px solid #00000026;
  border-top: 3px solid #00000026;
}

.footer-info__list-item {
  margin-bottom: 15px;
}

.footer-info-title {
  display: inline-block;
  margin-bottom: 30px;
}

.footer-info-link {
  color: var(--black-c);
}
.footer-info-link:hover {
  color: red;
}

.footer-text {
  text-align: center;
  padding: 2rem 0px;
}

.social-networks {
  display: flex;
  justify-content: space-between;
}

.social-networks a {
  font-size: 26px;
}

.telegram {
  color: #169edc;
}

.instagram {
  color: #bc2a8d;
}

.facebook {
  color: #3b5998;
}